<!-- Header -->
<header class="section header">
	<h1 class="header__title">MOVIES</h1>
	<h2 class="header__subtitle">What to watch next?</h2>
</header>

<!-- Search bar -->
<section class="section">
	<form [formGroup]="searchForm" (submit)="searchMovie()" class="search">
		<input
			name="query"
			formControlName="query"
			type="text"
			placeholder="Search for a movie..."
			class="search__input"
		>
		<button type="submit" class="search__button">go</button>
	</form>
</section>

<!-- Results -->
<section class="section results">
	<ng-container *ngIf="results$ | async as results">
		<app-movie *ngFor="let movie of results" [movie]="movie" class="results__movie"></app-movie>
	</ng-container>
</section>

<!-- No Results -->
<section *ngIf="!results$" class="section">
	<p class="results__placeholder">Search for a movie to get results.</p>
</section>